<%-include('../../partials/header.ejs') %>
    <%-include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <form method="POST" action=""><!--Envia o título da categoria que o usuário digitar para a rota /categories/save-->
                    
                        <textarea class="form-control" name="body" id="article"><%- article.body %></textarea> <br>
                        <input type="hidden" name="id" value="<%- article.id %>">
                        <button class="btn btn-success">Atualizar</button>
                    </form>
                </div>
            </div>

        </div>

<%-include('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script> <!--Rerefenciando arquivo par utilizar tinymce-->

<script>

    tinymce.init({ //Inicializando tinymce
        language: 'pt_BR',
        selector: "#article", //Referenciando o Id da textarea que irá receber a configuração do tinymce
        plugins: 'advlist autolink link image lists print preview searchreplace fullscreen insertdatetime media save table paste emotions' //Adicionando plugins ao tinymce
        
    });

</script>