<%-include('../../partials/header.ejs') %>
    <%-include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Categoria</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a><!--Botão irá redirecionar para a rota de criação de categoria-->
    <hr>
    <table class="table table-bordered"><!--Criação da tabela HTML com estilização do bootstrap-->
        <thead><!--Cabeçalho da tabela-->
            <tr>
                <th>ID</th><!--Criação do cabeçalho com as informações estáticas da tabela-->
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody><!--Corpo da tabela-->
            <tr>
                <% categories.forEach(category => { %> <!--ForEach que irá percorrer por todos os registros da tabela de categorias-->
                    <tr>
                        <th><%= category.id %></th> <!--Criação do corpo da tabela com as informações da tabela de categorias-->
                        <th><%= category.title %></th>
                        <th><%= category.slug %></th>
                        <th><!--Início da coluna de ações da tabela HTML de categorias-->
                           <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a> 
                           
                           <!--Formulário para enviar o id da categoria para a rota /categories/delete-->
                           <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)"><!--onSubmit do formulário indica o que irá acontecer ao ser enviado-->
                                <input type="hidden" name="id" value="<%= category.id %>"><!--Input do tipo hidden que irá conter o valor do id da categoria desejada-->
                                <button class="btn btn-danger">Deletar</button><!--Botão que irá deletar a categoria-->
                           </form> 
                        </th><!--Fim da coluna de ações-->
                    </tr>
                <% }) %><!--Fim do ForEach-->
            </tr>
        </tbody>
    </table>
</div>
<%-include('../../partials/footer.ejs') %>

<script>
    function confirmarDelecao(event, form) { //Recebendo o evento e o formulário como parâmetros
        event.preventDefault(); //Previnindo a ação comum de ser enviado o formulário
        const decision = confirm("Você quer deletar esta categoria?");
        if(decision){ //Se da decisão for verdadeira
            form.submit(); //Enviar o formulário
        } 
    }
</script>